src/main/mule/git-hub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8667340c-46fc-4885-af21-40ae34a97db7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-hubFlow" doc:id="bd09385d-1b66-4456-b62d-79dabaf3bb66" >
		<http:listener doc:name="Listener" doc:id="3dfce955-2284-4bd0-b8c5-55e01510057c" config-ref="HTTP_Listener_config" path="/git"/>
		<ee:transform doc:name="Transform Message" doc:id="a45663a6-372f-49b8-91be-e8e84c872830">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"name": "meron"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="45232e5b-a27f-46ed-bf29-ff6b1c512b66" />
	</flow>
</mule>
